{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'venue/css/styles.css' %}"> 
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
      <div class="header-container">
          <div class="top-row">
              <div class="logo">
                  <img src="{% static 'venue\img\oltin.jpg' %}" alt="Logo">
              </div>
              <div class="site-name">МИР МЕРОПРИЯТИЙ</div>
              <div class="right-section"> 
                  <div class="search">
                      <input type="text" placeholder="найти...">
                      <i class="fas fa-search search-icon"></i>
                  </div>
                  <div class="favorites">
                      <a href="{% url 'plan' %}"><i class="fas fa-heart"></i></a>
                  </div>
                  <div class="profile">
                    <i class="fas fa-user dropdown-toggle" id="profileMenuButton"></i>
                    <div class="dropdown-content" id="profile-menu">
                        <a href="{% url 'cities' %}"><div>Мой профиль</div></a>
                        <a href="{% url 'cities' %}"><div>Список городов</div></a>
                        <a href="{% url 'plan' %}"><div>Мои подписки</div></a>
                        <a href="{% url 'plan' %}"><div>Мой календарь</div></a>
                        <hr>
                        <a href="{% url 'cities' %}"><div>Добавьте мероприятие бесплатно</div></a>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="divider"></div>
      <div class="bottom-row">
          <div class="menu-item dropdown" data-menu="places">Места</div>
          <div class="menu-item dropdown" data-menu="dates">Даты</div>
          <div class="menu-item dropdown" data-menu="tags">Теги</div>
          <a href="{% url 'recommend' %}" class="menu-item">Мой выбор</a>
      </div>
      <div class="dropdown-content" id="places-menu">
          <div>Музеи</div>
          <div>Театры</div>
      </div>
      <div class="dropdown-content" id="dates-menu">
          <!-- Календарь может быть реализован с помощью JavaScript или специальной библиотеки -->
          <input type="date">
      </div>
      <div class="dropdown-content" id="tags-menu">
          <div>Фестивали</div>
          <div>Конференции</div>
      </div>
  </header>

  <main class="content">

    <h1>{{ title }}</h1>
    <!-- Основной контент страницы -->
    <ul>
        {% for p in posts %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            <p><a href="{% url 'post' p.id %}">Читат пост</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </main>

  <!-- Подвал сайта -->
  <footer class="footer">
      <div class="footer-section">
          <h2>О проекте</h2>
          <p>Система подскажет где, когда и во сколько начнется мероприятие, расскажет о программе и сколько стоят билеты.</p>
          <ul>
              <li>Добавьте мероприятие бесплатно</li>
              <li>Рекламодателям</li>
              <li>Правообладателям</li>
              <li>Контакты</li>
              <li>Список городов</li>
              <li>События "Научные и Культурные мероприятия" организация и участия в мероприятиях</li>
          </ul>
      </div>
      <div class="footer-section">
          <h2>Организаторам мероприятий</h2>
          <p>Вы можете добавить свое мероприятие на сайт и обновить информацию.<br>Управляйте своими мероприятиями в контрольной панели организатора.</p>
          <p>Добавьте мероприятие бесплатно</p>
          <p style="font-size: 13px;">Мы используем cookies для сбора обезличенных персональных данных. Они помогают настраивать рекламу и анализировать трафик. Оставаясь на сайте, вы соглашаетесь на сбор таких данных.</p>
          <p style="font-size: 13px;">Правила пользования сайтом</p>
      </div>
  </footer> 
  
  <script>
  // JavaScript будет вписан здесь
  document.addEventListener('DOMContentLoaded', function() {
    var dropdowns = document.querySelectorAll('.dropdown');
    var profileMenuButton = document.getElementById('profileMenuButton');
    var profileMenu = document.getElementById('profile-menu');

    profileMenuButton.addEventListener('click', function(event) {
        // Переключение видимости меню профиля
        var isMenuVisible = profileMenu.style.display === 'block';
        closeAllMenus();
        if (!isMenuVisible) {
            profileMenu.style.display = 'block';
        }
        event.stopPropagation(); // Предотвращаем всплытие события
    });

    dropdowns.forEach(function(dropdown) {
        dropdown.addEventListener('click', function(event) {
            var menuId = event.target.getAttribute('data-menu') + '-menu';
            var menu = document.getElementById(menuId);

            // Переключение видимости выбранного меню
            var isMenuVisible = menu.style.display === 'block';
            closeAllMenus();
            if (!isMenuVisible) {
                menu.style.display = 'block';
                // Позиционируем меню непосредственно под элементом dropdown
                positionMenu(event.target, menu);
            }
            event.stopPropagation();
        });
    });

    function closeAllMenus() {
        // Закрытие всех выпадающих меню
        document.querySelectorAll('.dropdown-content').forEach(function(menu) {
            menu.style.display = 'none';
        });
        // Удаление активного состояния с элементов dropdown
        dropdowns.forEach(function(elem) {
            elem.classList.remove('active');
        });
    }

    function positionMenu(dropdown, menu) {
        var dropdownRect = dropdown.getBoundingClientRect();
        menu.style.top = `${dropdownRect.bottom}px`;
        menu.style.left = `${dropdownRect.left}px`;
    }

    window.addEventListener('click', function() {
        // Закрытие всех меню при клике вне
        closeAllMenus();
    });
});

</script>

<!-- <script src="{% static 'venue/js/script.js' %}"></script> -->

</body>
</html>