{% extends 'base.html' %}


{% block city %}
<h1>{{ title }}</h1>

<div class="container content containerNopad content--padTop">
    <div class=container style=font-size:130%>
        <h1 style=text-align:center;margin-bottom:50px>Мероприятия в городах</h1>
        <div class=padSide>
            <div class="row menu_cities">
                <div class="col-xs-12 col-sm-6 col-md-4"><a class="types__item city_item"
                        href=/abakan />Абакан</a><a class="types__item city_item" href=/anapa />Анапа</a><a
                        class="types__item city_item" href=/angarsk />Ангарск</a><a
                        class="types__item city_item" href=/archangelsk />Архангельск</a><a
                        class="types__item city_item" href=/astrahan />Астрахань</a><a
                        class="types__item city_item" href=/baikal />Байкал</a><a class="types__item city_item"
                        href=/balashiha />Балашиха</a><a class="types__item city_item"
                        href=/barnaul />Барнаул</a><a class="types__item city_item"
                        href=/belgorod />Белгород</a><a class="types__item city_item" href=/bijsk />Бийск</a><a
                        class="types__item city_item" href=/blagoveschensk />Благовещенск</a><a
                        class="types__item city_item" href=/bratsk />Братск</a><a class="types__item city_item"
                        href=/bryansk />Брянск</a><a class="types__item city_item" href=/vnovgorod />Великий
                    Новгород</a><a class="types__item city_item" href=/vladivostok />Владивосток</a><a
                        class="types__item city_item" href=/vladikavkaz />Владикавказ</a><a
                        class="types__item city_item" href=/vladimir />Владимир</a><a
                        class="types__item city_item" href=/volgograd />Волгоград</a><a
                        class="types__item city_item" href=/volzhskij />Волжский</a><a
                        class="types__item city_item" href=/vologda />Вологда</a><a
                        class="types__item city_item" href=/voronezh />Воронеж</a><a
                        class="types__item city_item" href=/vyborg />Выборг</a><a class="types__item city_item"
                        href=/gel />Геленджик</a><a class="types__item city_item" href=/ga />Горно-Алтайск</a><a
                        class="types__item city_item" href=/grozny />Грозный</a><a class="types__item city_item"
                        href=/derbent />Дербент</a><a class="types__item city_item"
                        href=/dzerzhinsk />Дзержинск</a><a class="types__item city_item"
                        href=/evpatoriya />Евпатория</a><a class="types__item city_item"
                        href=/>Екатеринбург</a><a class="types__item city_item"
                        href=/essentuki />Ессентуки</a><a class="types__item city_item"
                        href=/zhukovskij />Жуковский</a><a class="types__item city_item"
                        href=/zelenograd />Зеленоград</a><a class="types__item city_item"
                        href=/ivanovo />Иваново</a><a class="types__item city_item" href=/izhevsk />Ижевск</a><a
                        class="types__item city_item" href=/irkutsk />Иркутск</a><a
                        class="types__item city_item" href=/joshkar-ola />Йошкар-Ола</a><a
                        class="types__item city_item" href=/kazan />Казань</a><a class="types__item city_item"
                        href=/kaliningrad />Калининград</a><a class="types__item city_item"
                        href=/kaluga />Калуга</a><a class="types__item city_item"
                        href=/kamensk />Каменск-Уральский</a><a class="types__item city_item"
                        href=/kemerovo />Кемерово</a><a class="types__item city_item" href=/kerch />Керчь</a><a
                        class="types__item city_item" href=/kirov />Киров</a><a class="types__item city_item"
                        href=/kislovodsk />Кисловодск</a><a class="types__item city_item"
                        href=/klin />Клин</a><a class="types__item city_item" href=/kovrov />Ковров</a><a
                        class="types__item city_item" href=/kolomna />Коломна</a><a
                        class="types__item city_item" href=/komsomolsk />Комсомольск-на-Амуре</a><a
                        class="types__item city_item" href=/korolyov />Королёв</a><a
                        class="types__item city_item" href=/kostroma />Кострома</a></div>
                <div class="col-xs-12 col-sm-6 col-md-4"><a class="types__item city_item"
                        href=/krasnogorsk />Красногорск</a><a class="types__item city_item"
                        href=/krasnodar />Краснодар</a><a class="types__item city_item"
                        href=/krasnoyarsk />Красноярск</a><a class="types__item city_item"
                        href=/kronshtadt />Кронштадт</a><a class="types__item city_item"
                        href="{% url 'kurgan' %}">Курган</a><a class="types__item city_item" href=/kursk />Курск</a><a
                        class="types__item city_item" href=/lipetsk />Липецк</a><a class="types__item city_item"
                        href=/lobnya />Лобня</a><a class="types__item city_item" href=/lyubertsy />Люберцы</a><a
                        class="types__item city_item" href=/magadan />Магадан</a><a
                        class="types__item city_item" href=/magnitogorsk />Магнитогорск</a><a
                        class="types__item city_item" href=/mahachkala />Махачкала</a><a
                        class="types__item city_item" href=/miass />Миасс</a><a class="types__item city_item"
                        href=/minvod />Минеральные Воды</a><a class="types__item city_item" href=/moskva/
                        style=font-weight:700>Москва</a><a class="types__item city_item"
                        href=/murmansk />Мурманск</a><a class="types__item city_item"
                        href=/mytischi />Мытищи</a><a class="types__item city_item" href=/chelny />Набережные
                    Челны</a><a class="types__item city_item" href=/nalchik />Нальчик</a><a
                        class="types__item city_item" href=/neftekamsk />Нефтекамск</a><a
                        class="types__item city_item" href=/nefteyugansk />Нефтеюганск</a><a
                        class="types__item city_item" href=/nizhnevartovsk />Нижневартовск</a><a
                        class="types__item city_item" href=/nizhnekamsk />Нижнекамск</a><a
                        class="types__item city_item" href=/nnovgorod />Нижний Новгород</a><a
                        class="types__item city_item" href=/tagil />Нижний Тагил</a><a
                        class="types__item city_item" href=/novokuznetsk />Новокузнецк</a><a
                        class="types__item city_item" href=/novomoskovsk />Новомосковск</a><a
                        class="types__item city_item" href=/novorossijsk />Новороссийск</a><a
                        class="types__item city_item" href=/novosibirsk />Новосибирск</a><a
                        class="types__item city_item" href=/novocheboksarsk />Новочебоксарск</a><a
                        class="types__item city_item" href=/noginsk />Ногинск</a><a
                        class="types__item city_item" href=/norilsk />Норильск</a><a
                        class="types__item city_item" href=/obninsk />Обнинск</a><a
                        class="types__item city_item" href=/odintsovo />Одинцово</a><a
                        class="types__item city_item" href=/omsk />Омск</a><a class="types__item city_item"
                        href=/online/ style=font-weight:700>Онлайн</a><a class="types__item city_item"
                        href=/orel />Орёл</a><a class="types__item city_item" href=/orenburg />Оренбург</a><a
                        class="types__item city_item" href=/orehovo />Орехово-Зуево</a><a
                        class="types__item city_item" href=/penza />Пенза</a><a class="types__item city_item"
                        href=/perm />Пермь</a><a class="types__item city_item"
                        href=/petrozavodsk />Петрозаводск</a><a class="types__item city_item"
                        href=/petropavlovsk />Петропавловск-Камчатский</a><a class="types__item city_item"
                        href=/podolsk />Подольск</a><a class="types__item city_item"
                        href=/prokopevsk />Прокопьевск</a><a class="types__item city_item"
                        href=/pskov />Псков</a><a class="types__item city_item"
                        href=/pyatigorsk />Пятигорск</a><a class="types__item city_item"
                        href=/rostov />Ростов-на-Дону</a><a class="types__item city_item"
                        href=/rybinsk />Рыбинск</a><a class="types__item city_item" href=/ryazan />Рязань</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4"><a class="types__item city_item"
                        href=/samara />Самара</a><a class="types__item city_item" href=/spb/
                        style=font-weight:700>Санкт-Петербург</a><a class="types__item city_item"
                        href=/saransk />Саранск</a><a class="types__item city_item"
                        href=/saratov />Саратов</a><a class="types__item city_item"
                        href=/sevastopol />Севастополь</a><a class="types__item city_item"
                        href=/severodvinsk />Северодвинск</a><a class="types__item city_item"
                        href=/sergievposad />Сергиев Посад</a><a class="types__item city_item"
                        href=/serpuhov />Серпухов</a><a class="types__item city_item"
                        href=/simferopol />Симферополь</a><a class="types__item city_item"
                        href=/smolensk />Смоленск</a><a class="types__item city_item" href=/sochi />Сочи</a><a
                        class="types__item city_item" href=/stavropol />Ставрополь</a><a
                        class="types__item city_item" href=/oskol />Старый Оскол</a><a
                        class="types__item city_item" href=/sterlitamak />Стерлитамак</a><a
                        class="types__item city_item" href=/surgut />Сургут</a><a class="types__item city_item"
                        href=/sizran />Сызрань</a><a class="types__item city_item"
                        href=/syktyvkar />Сыктывкар</a><a class="types__item city_item"
                        href=/taganrog />Таганрог</a><a class="types__item city_item"
                        href=/tambov />Тамбов</a><a class="types__item city_item" href=/tver />Тверь</a><a
                        class="types__item city_item" href=/tolyatti />Тольятти</a><a
                        class="types__item city_item" href=/tomsk />Томск</a><a class="types__item city_item"
                        href=/tuapse />Туапсе</a><a class="types__item city_item" href=/tula />Тула</a><a
                        class="types__item city_item" href=/tyumen />Тюмень</a><a class="types__item city_item"
                        href=/ulan-ude />Улан-Удэ</a><a class="types__item city_item"
                        href=/ulyanovsk />Ульяновск</a><a class="types__item city_item" href=/ufa />Уфа</a><a
                        class="types__item city_item" href=/habarovsk />Хабаровск</a><a
                        class="types__item city_item" href=/hanty-mansijsk />Ханты-Мансийск</a><a
                        class="types__item city_item" href=/cheboksaryi />Чебоксары</a><a
                        class="types__item city_item" href=/chel />Челябинск</a><a class="types__item city_item"
                        href=/cherepovets />Череповец</a><a class="types__item city_item"
                        href=/cherkessk />Черкесск</a><a class="types__item city_item"
                        href=/chehov />Чехов</a><a class="types__item city_item" href=/chita />Чита</a><a
                        class="types__item city_item" href=/sheregesh />Шерегеш</a><a
                        class="types__item city_item" href=/elektrostal />Электросталь</a><a
                        class="types__item city_item" href=/elista />Элиста</a><a class="types__item city_item"
                        href=/engels />Энгельс</a><a class="types__item city_item"
                        href=/sahalinsk />Южно-Сахалинск</a><a class="types__item city_item"
                        href=/yakutsk />Якутск</a><a class="types__item city_item" href=/yalta />Ялта</a><a
                        class="types__item city_item" href=/yaroslavl />Ярославль</a></div>
                <div style=margin-top:4rem></div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}



