{% extends 'base.html' %}


{% block content %}

<main class="content">

    <h1>{{ title }}</h1>
    
    <!-- <h2>сегодня и на Июнь 2024</h2>

    <div class="search2" style="font-size: 30px;">
        <input type="text"  placeholder="Найти мероприятия .....">
        <i class="#"></i>
    </div> -->
    <div class="container content containerNopad content--padTop">
        <div class=container-empty>
            <div class=row>
                <div>
                    <h1 style="padding:0;margin:2rem 0" class=h1>Екатеринбург Наука и Культура<small>Мероприятия на Июнь 2024</small></h1>
                    <div style="max-width:600px;margin:0 0 2rem" class=subtitle>Откройте для себя богатую культуру своего
                        города и научние конфиренции.
                    </div>
                </div>
            </div>

<!-- ================================================================================================================================ -->
            
            <div class="row eventsWrapper" style=margin-top:30px>    
                <div class="i3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10330100
                            data-link=/ekb/ekskursiia-v-muzei-npo-avtomatiki-nauka-event10330100>
                            <picture><img
                                    alt='Экскурсия в Музей "НПО автоматики" / Наука в большом городе. Полевой сезон'
                                    loading=lazy
                                    src=https://ucare.timepad.ru/168e6101-f5db-4bd4-a4ec-ce5b97510fe4/-/preview/600x600 />
                            </picture>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-20 /> 20 </span></div>
                        <div class="innlink event-link save-click" data-id=10330100
                            data-link=/ekb/ekskursiia-v-muzei-npo-avtomatiki-nauka-event10330100><a
                                href=/ekb/ekskursiia-v-muzei-npo-avtomatiki-nauka-event10330100>
                                <h3 class="lines lines2"><span> Экскурсия в Музей "НПО автоматики" / Наука в
                                        большом городе. … </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Экскурсия состоится в рамках событийной программы
                                выставки Наука в большом городе. Интеллектуальный ландшафт Свердловска</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Экскурсии События в Екатеринбурге" class=tag
                                    href=/ekb/excursion /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#eye></use>
                                </svg> Культура </a><a title="Образ жизни События в Екатеринбурге" class=tag
                                    href=/ekb/lifestyle /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                                </svg> Образ жизни </a></div>
                        </div>
                    </div>
                </div>
                

<!-- 
                <div class="i4 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10348429
                            data-link=/ekb/itisconf-event10348429>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo200-10348429.webp?v=032024&m=170624181911
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo400-10348429.webp?v=032024&m=170624181911
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo600-10348429.webp?v=032024&m=170624181911
                                    type=image/webp><img alt="ITISconf– 2024" loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/6/27/photo600-10348429.jpg?v=032024&m=170624181911>
                            </picture>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-20 /> 20 </span></div>
                        <div class="innlink event-link save-click" data-id=10348429
                            data-link=/ekb/itisconf-event10348429><a href="{% url 'opisaniya' %}">
                                <h3 class="lines lines2"><span> ITISconf– 2024 </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Пятая ежегодная конференция о трендах в ИТ и ИБ соберет
                                экспертов в сфере информационных технологий.</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Форум События в Екатеринбурге" class=tag
                                    href=/ekb/forum /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#comments></use>
                                </svg> Форум </a></div>
                        </div>
                    </div>
                </div> -->



                <div class="i3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10218179
                            data-link=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo200-10218179.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo400-10218179.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo600-10218179.webp?v=032024
                                    type=image/webp><img alt="Александр Файб. Почему мы верим в теории заговора"
                                    loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/6/23/photo600-10218179.jpg?v=032024>
                            </picture>
                            <div class=event-badge><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                </svg> Есть билеты</div>
                        </div>
                        <div class=event-date><span style=font-size:16px>23 июня</span></div>
                        <div class="innlink event-link save-click" data-id=10218179
                            data-link=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179><a
                                href=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179>
                                <h3 class="lines lines2"><span> Александр Файб. Почему мы верим в теории заговора
                                    </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Как устроены конспирологические теории Почему люди так
                                охотно верят в мировое правительство Какие психологические, исторические …</div>
                            <div class=event-price><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                </svg></div>
                                <!-- 1700 -->
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Лекции События в Екатеринбурге" class=tag
                                    href=/ekb/lecture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book-open></use>
                                </svg> Лекции </a><a title="Образование События в Екатеринбурге" class=tag
                                    href=/ekb/study /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                </svg> Образование </a><a title="Общество События в Екатеринбурге" class=tag
                                    href=/ekb/obshestvo /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#users></use>
                                </svg> Общество </a><a title="Выставки События в Екатеринбурге" class=tag
                                    href=/ekb/expo /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Выставки </a><a title="Культура События в Екатеринбурге" class=tag
                                    href=/ekb/culture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Культура </a></div>
                        </div>
                    </div>
                </div>



                <div class="i3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=9235570
                            data-link=/ekb/liubov-liudei-event9235570>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2023/4/27/photo200-9235570.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2023/4/27/photo400-9235570.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2023/4/27/photo600-9235570.webp?v=032024
                                    type=image/webp><img alt="Любовь людей" loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2023/4/27/photo600-9235570.jpg?v=032024>
                            </picture>
                            <div class=event-badge><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                </svg> Есть билеты</div>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-27 /> 27 </span></div>
                        <div class="innlink event-link save-click" data-id=9235570
                            data-link=/ekb/liubov-liudei-event9235570><a href=/ekb/liubov-liudei-event9235570>
                                <h3 class="lines lines2"><span> Любовь людей </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">История апокалипсиса внутри. В состав исполнителей могут
                                быть внесены изменения без дополнительного уведомления.</div>
                            <div class=event-price><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                </svg></div>
                                <!-- 800 -->
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Театр События в Екатеринбурге" class=tag
                                    href=/ekb/theater /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                                </svg> Театр </a><a title="Культура События в Екатеринбурге" class=tag
                                    href=/ekb/culture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Культура </a></div>
                        </div>
                    </div>
                </div>


                


                <div class="i2 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10293282
                            data-link=/ekb/forum-molodiozhi-utro-event10293282>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo200-10293282.webp?v=032024&m=020524191459
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo400-10293282.webp?v=032024&m=020524191459
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo600-10293282.webp?v=032024&m=020524191459
                                    type=image/webp><img alt="Форум молодёжи «УТРО»" loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/6/22/photo600-10293282.jpg?v=032024&m=020524191459>
                            </picture>
                        </div>
                        <div class=event-date>
                            <div class=event-month>Июн</div> 22-28
                        </div>
                        <div class="innlink event-link save-click" data-id=10293282
                            data-link=/ekb/forum-molodiozhi-utro-event10293282><a
                                href=/ekb/forum-molodiozhi-utro-event10293282>
                                <h3 class="lines lines2"><span> Форум молодёжи "УТРО" </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Форум молодёжи УТРО - главное мероприятие лета для
                                молодых людей до 35 лет. Пройдёт в Екатеринбурге с 22 по 28 …</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Форум События в Екатеринбурге" class=tag
                                    href=/ekb/forum /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#comments></use>
                                </svg> Форум </a><a title="Бизнес События в Екатеринбурге" class=tag
                                    href=/ekb/business /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#briefcase></use>
                                </svg> Бизнес </a><a title="Образование События в Екатеринбурге" class=tag
                                    href=/ekb/education /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#graduation-cap></use>
                                </svg> Образование </a><a title="Образование События в Екатеринбурге" class=tag
                                    href=/ekb/study /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                </svg> Образование </a><a title="Общество События в Екатеринбурге" class=tag
                                    href=/ekb/obshestvo /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#users></use>
                                </svg> Общество </a><a title="Мастер-класс События в Екатеринбурге" class=tag
                                    href=/ekb/workshop /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#chalkboard-teacher></use>
                                </svg> Мастер-класс </a><a title="Лекции События в Екатеринбурге" class=tag
                                    href=/ekb/lecture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book-open></use>
                                </svg> Лекции </a></div>
                        </div>
                    </div>
                </div>


                <div class="i7 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10349160
                            data-link=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160>
                            <picture><img alt="Александр Соколов. Лженаука вечна? Или Как противостоять мракобесию"
                                    loading=lazy
                                    src=https://ucare.timepad.ru/b07e121c-5000-4f2d-9de1-729c19bd6aaf/-/preview/600x600 />
                            </picture>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-27 /> 27 </span></div>
                        <div class="innlink event-link save-click" data-id=10349160
                            data-link=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160><a
                                href=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160>
                                <h3 class="lines lines2"><span> Александр Соколов. Лженаука вечна? Или Как
                                        противостоять мракобесию </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Бесплатно, по регистрации</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Образование События в Екатеринбурге" class=tag
                                    href=/ekb/study /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                </svg> Образование </a></div>
                        </div>
                    </div>
                </div>
                

                <div class="i6 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=9013982
                            data-link=/ekb/krolik-edvard-event9013982>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/3/19/photo200-9013982.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/3/19/photo400-9013982.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/3/19/photo600-9013982.webp?v=032024
                                    type=image/webp><img alt="Удивительное приключение кролика Эдварда" loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/3/19/photo600-9013982.jpg?v=032024>
                            </picture>
                            <div class=event-badge><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                </svg> Есть билеты</div>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-15 /> 15 </span></div>
                        <div class="innlink event-link save-click" data-id=9013982
                            data-link=/ekb/krolik-edvard-event9013982><a href=/ekb/krolik-edvard-event9013982>
                                <h3 class="lines lines2"><span> Удивительное приключение кролика Эдварда </span>
                                </h3>
                            </a>
                            <div class="lines lines4 mb-2">Однажды бабушка Пелегрина подарила внучке Абилин
                                удивительного игрушечного кролика по имени Эдвард. Его сделали из …</div>
                            <div class=event-price><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                </svg></div>
                                <!-- 1200 -->
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Театр События в Екатеринбурге" class=tag
                                    href=/ekb/theater /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                                </svg> Театр </a><a title="Культура События в Екатеринбурге" class=tag
                                    href=/ekb/culture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Культура </a><a title="Для детей События в Екатеринбурге" class=tag
                                    href=/ekb/kids /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                                </svg> Для детей </a></div>
                        </div>
                    </div>
                </div>





                <div class="i8 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10165800
                            data-link=/ekb/pereskazki-event10165800>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/9/photo200-10165800.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/9/photo400-10165800.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/9/photo600-10165800.webp?v=032024
                                    type=image/webp><img alt=Пересказки loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/6/9/photo600-10165800.jpg?v=032024>
                            </picture>
                            <div class=event-badge><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                </svg> Есть билеты</div>
                        </div>
                        <div class=event-date><span style=font-size:16px>09 июня, </span><span
                                style=font-size:16px>25 июня</span></div>
                        <div class="innlink event-link save-click" data-id=10165800
                            data-link=/ekb/pereskazki-event10165800><a href=/ekb/pereskazki-event10165800>
                                <h3 class="lines lines2"><span> Пересказки </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Постановка своего рода альманах, созданный по мотивам
                                трёх народных сказок абхазской, киргизской и ненецкой. Все …</div>
                            <div class=event-price><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                </svg></div>
                                <!-- 200 - 500 -->
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Театр События в Екатеринбурге" class=tag
                                        href=/ekb/theater /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                                    </svg> Театр </a><a title="Культура События в Екатеринбурге" class=tag
                                        href=/ekb/culture /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                    </svg> Культура </a><a title="Народное События в Екатеринбурге" class=tag
                                        href=/ekb/ethno /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#seedling></use>
                                    </svg> Народное </a><a title="Музыка События в Екатеринбурге" class=tag
                                        href=/ekb/music /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                                    </svg> Музыка </a>                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="i9 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10157357
                            data-link=/ekb/liuchiia-di-lammermur-event10157357>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/4/12/photo200-10157357.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/4/12/photo400-10157357.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/4/12/photo600-10157357.webp?v=032024
                                    type=image/webp><img alt="Лючия ди Ламмермур" loading=lazy
                                    src=https://static.gorodzovet.ru/uploads/2024/4/12/photo600-10157357.jpg?v=032024>
                            </picture>
                            <div class=event-badge><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                </svg> Есть билеты</div>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-29 /> 29 </span></div>
                        <div class="innlink event-link save-click" data-id=10157357
                            data-link=/ekb/liuchiia-di-lammermur-event10157357><a
                                href=/ekb/liuchiia-di-lammermur-event10157357>
                                <h3 class="lines lines2"><span> Лючия ди Ламмермур </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">В основу либретто положен роман Вальтера Скотта
                                Ламмермурская невеста Шотландия XVIII века, две противоборствующие фамилии, …</div>
                            <div class=event-price><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                </svg></div>
                                <!-- 300 - 2000 -->
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Опера События в Екатеринбурге" class=tag
                                    href=/ekb/opera /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#scroll></use>
                                </svg> Опера </a><a title="Культура События в Екатеринбурге" class=tag
                                    href=/ekb/culture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Культура </a><a title="Шоу и концерты События в Екатеринбурге" class=tag
                                    href=/ekb/shows /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                                </svg> Музыка </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            



<!--             =====================================================================================                     -->

            <div class="container cart" id=noevents style=display:none></div>
            <div id=yandex_rtb_R-A-141775-27></div>
            <script>window.yaContextCb.push(() => { Ya.Context.AdvManager.renderFeed({ "blockId": "R-A-141775-27", "renderTo": "yandex_rtb_R-A-141775-27" }) })</script>
            <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                    href=/ekb/outdoor /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                    href=/ekb/free /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=biz
                    href=/ekb/biz /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#building></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=business
                    href=/ekb/business /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#briefcase></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                    href=/ekb/kids /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                    href=/ekb/wellness /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                    href=/ekb/concert /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                    href=/ekb/music /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                    href=/ekb/lifestyle /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                    href=/ekb/study /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=psycho
                    href=/ekb/psycho /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#sun></use>
                </svg> Психология </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=razvl
                    href=/ekb/razvl /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#icons></use>
                </svg> Развлечения </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=sport
                    href=/ekb/sport /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#dumbbell></use>
                </svg> Спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                    href=/ekb/theater /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=fest
                    href=/ekb/fest /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#flag></use>
                </svg> Фестиваль </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                    href=/ekb/shows /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Шоу и концерты </a></div>
        </div>
        
        
    <!-- <ul>
        {% for p in posts %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            <p><a href="{% url 'post' p.id %}">Читат пост</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endfor %}
    </ul> -->
  </main>


{% endblock %}