{% extends 'base.html' %}



{% block kurgan %}
<h1>{{ title }}</h1>
  
<!-- <h2>сегодня и на Июнь 2024</h2>

<div class="search2" style="font-size: 30px;">
    <input type="text"  placeholder="Найти мероприятия .....">
    <i class="#"></i>
</div> -->
<div class="container content containerNopad content--padTop">
    <div class=container-empty>
        <div class=row>
            <div>
                <h1 style="padding:0;margin:2rem 0" class=h1>Курган Наука и Культура<small>Мероприятия на Июнь 2024</small></h1>
                <div style="max-width:600px;margin:0 0 2rem" class=subtitle>Откройте для себя богатую культуру своего
                    города и научние конфиренции.
                </div>
            </div>
        </div>

        <!-- <div class="i1 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class=event-block>
                <div class="innlink save-click event-image" data-id=9517903
                    data-link=/kurgan/intellektualnaia-igra-nauka-bez-problem-event9517903>
                    <picture>
                        <source media="(max-width: 600px)"
                            srcset=https://static.gorodzovet.ru/uploads/2023/10/17/photo200-9517903.webp?v=032024
                            type=image/webp>
                        <source media="(max-width: 3000px)"
                            srcset=https://static.gorodzovet.ru/uploads/2023/10/17/photo400-9517903.webp?v=032024
                            type=image/webp>
                        <source
                            srcset=https://static.gorodzovet.ru/uploads/2023/10/17/photo600-9517903.webp?v=032024
                            type=image/webp><img alt="Интеллектуальная игра «Наука без проблем»"
                            fetchpriority=high importance=high
                            src=https://static.gorodzovet.ru/uploads/2023/10/17/photo600-9517903.jpg?v=032024>
                    </picture>
                </div>
                <div class=event-date><span style=font-size:16px>14 июня, </span><span
                        style=font-size:16px>17 июня</span> ...</div>
                <div class="innlink event-link save-click" data-id=9517903
                    data-link=/kurgan/intellektualnaia-igra-nauka-bez-problem-event9517903><a
                        href=/kurgan/intellektualnaia-igra-nauka-bez-problem-event9517903>
                        <h3 class="lines lines2"><span> Интеллектуальная игра "Наука без проблем"
                            </span></h3>
                    </a>
                    <div class="lines lines4 mb-2">Игра адресована школьникам старших классов и
                        студенческим группам. Позволяет проявить эрудицию и смекалку, испытать яркие
                        …</div>
                    <div class=event-price><svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                        </svg></div>
                </div>
                <div class=event-meta>
                    <div class=event-tags><a title="Образование События в Кургане" class=tag
                            href=/kurgan/study /><svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                        </svg> Образование </a><a title="Образ жизни События в Кургане" class=tag
                            href=/kurgan/lifestyle /><svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                        </svg> Образ жизни </a></div>
                </div>
            </div>
        </div> -->






        <div class="i7 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class=event-block>
                <div class="innlink save-click event-image" data-id=8646540
                    data-link=/kurgan/programma-bibliograficheskii-kvest-event8646540>
                    <picture>
                        <source media="(max-width: 600px)"
                            srcset=https://static.gorodzovet.ru/uploads/2024/6/6/photo200-8646540.webp?v=032024
                            type=image/webp>
                        <source media="(max-width: 3000px)"
                            srcset=https://static.gorodzovet.ru/uploads/2024/6/6/photo400-8646540.webp?v=032024
                            type=image/webp>
                        <source
                            srcset=https://static.gorodzovet.ru/uploads/2024/6/6/photo600-8646540.webp?v=032024
                            type=image/webp><img alt="Программа «Библиографический квест»" loading=lazy
                            src=https://static.gorodzovet.ru/uploads/2024/6/6/photo600-8646540.jpg?v=032024>
                    </picture>
                </div>
                <div class=event-date><span style=font-size:16px>20 июня, </span><span
                        style=font-size:16px>27 июня</span> ...</div>
                <div class="innlink event-link save-click" data-id=8646540
                    data-link=/kurgan/programma-bibliograficheskii-kvest-event8646540><a
                        href=/kurgan/programma-bibliograficheskii-kvest-event8646540>
                        <h3 class="lines lines2"><span> Программа "Библиографический квест" </span></h3>
                    </a>
                    <div class="lines lines4 mb-2">Квест это решение логических заданий поиск необходимой
                        информации, работа с библиотечными ресурсами, нахождение и применение …</div>
                    <div class=event-price><svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                        </svg></div>
                        <!-- 150 -->
                </div>
            </div>
        </div>
        
                
                
                
                
                
                <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=it
                        href=/spb/it /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#laptop-code></use>
                    </svg> IT и технологии </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=auto-moto
                        href=/spb/auto-moto /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#car></use>
                    </svg> Авто-мото </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                        href=/spb/outdoor /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                    </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                        href=/spb/free /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                    </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=pobeda
                        href=/spb/pobeda /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#medal></use>
                    </svg> День Победы </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                        href=/spb/kids /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                    </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=animals
                        href=/spb/animals /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#paw></use>
                    </svg> Животные </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                        href=/spb/wellness /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                    </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=classic
                        href=/spb/classic /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Классика </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                        href=/spb/concert /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                        href=/spb/culture /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                    </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                        href=/spb/music /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                        href=/spb/lifestyle /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                    </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                        href=/spb/study /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                    </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                        href=/spb/theater /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                    </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                        href=/spb/shows /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Шоу и концерты </a><a class="btn btn-default btn-lg tag-figures btn-success"
                        data-id=excursion href=/spb/excursion /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#eye></use>
                    </svg> Экскурсии </a></div>
                
                    </div>
                </div>
            </div>
        </div>

{% endblock %}