{% extends 'base.html' %}

{% block obr %}

<br>

<div class="container content containerNopad content--padTop">
    <div class=container-empty>
        <div class=row>
            <div>
                <h1 style="padding:0;margin:2rem 0" class=h1>Екатеринбург Обучение и образование <small>Афиша
                        мероприятий на Июнь 2024</small></h1>
                <div style="max-width:600px;margin:0 0 2rem" class=subtitle>Посетите лучшие воркшопы, курсы,
                    семинары и тренинги и обучитесь новым навыкам или улучшите старые! Раскройте свой полный
                    потенциал с лучшими образовательными мероприятиями города.</div>
            </div>
        </div>

                <div class="row eventsWrapper" style=margin-top:30px>    


                    <div class="i3 col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class=event-block>
                            <div class="innlink save-click event-image" data-id=10218179
                                data-link=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179>
                                <picture>
                                    <source media="(max-width: 600px)"
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo200-10218179.webp?v=032024
                                        type=image/webp>
                                    <source media="(max-width: 3000px)"
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo400-10218179.webp?v=032024
                                        type=image/webp>
                                    <source
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/23/photo600-10218179.webp?v=032024
                                        type=image/webp><img alt="Александр Файб. Почему мы верим в теории заговора"
                                        loading=lazy
                                        src=https://static.gorodzovet.ru/uploads/2024/6/23/photo600-10218179.jpg?v=032024>
                                </picture>
                                <div class=event-badge><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#ticket-alt></use>
                                    </svg> Есть билеты</div>
                            </div>
                            <div class=event-date><span style=font-size:16px>23 июня</span></div>
                            <div class="innlink event-link save-click" data-id=10218179
                                data-link=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179><a
                                    href=/ekb/aleksandr-faib-pochemu-my-verim-v-teorii-event10218179>
                                    <h3 class="lines lines2"><span> Александр Файб. Почему мы верим в теории заговора
                                        </span></h3>
                                </a>
                                <div class="lines lines4 mb-2">Как устроены конспирологические теории Почему люди так
                                    охотно верят в мировое правительство Какие психологические, исторические …</div>
                                <div class=event-price><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#ruble-light></use>
                                    </svg>1700</div>
                            </div>
                            <div class=event-meta>
                                <div class=event-tags><a title="Лекции События в Екатеринбурге" class=tag
                                        href=/ekb/lecture /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#book-open></use>
                                    </svg> Лекции </a><a title="Образование События в Екатеринбурге" class=tag
                                        href=/ekb/study /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                    </svg> Образование </a><a title="Общество События в Екатеринбурге" class=tag
                                        href=/ekb/obshestvo /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#users></use>
                                    </svg> Общество </a><a title="Выставки События в Екатеринбурге" class=tag
                                        href=/ekb/expo /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                    </svg> Выставки </a><a title="Культура События в Екатеринбурге" class=tag
                                        href=/ekb/culture /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                    </svg> Культура </a></div>
                            </div>
                        </div>
                    </div>




                    <div class="i7 col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class=event-block>
                            <div class="innlink save-click event-image" data-id=10349160
                                data-link=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160>
                                <picture><img alt="Александр Соколов. Лженаука вечна? Или Как противостоять мракобесию"
                                        loading=lazy
                                        src=https://ucare.timepad.ru/b07e121c-5000-4f2d-9de1-729c19bd6aaf/-/preview/600x600 />
                                </picture>
                            </div>
                            <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                    href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                    data-link=/ekb/day2024-06-27 /> 27 </span></div>
                            <div class="innlink event-link save-click" data-id=10349160
                                data-link=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160><a
                                    href=/ekb/aleksandr-sokolov-lzhenauka-vechna-ili-event10349160>
                                    <h3 class="lines lines2"><span> Александр Соколов. Лженаука вечна? Или Как
                                            противостоять мракобесию </span></h3>
                                </a>
                                <div class="lines lines4 mb-2">Бесплатно, по регистрации</div>
                            </div>
                            <div class=event-meta>
                                <div class=event-tags><a title="Образование События в Екатеринбурге" class=tag
                                        href=/ekb/study /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                    </svg> Образование </a></div>
                            </div>
                        </div>
                    </div>


                    <div class="i2 col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class=event-block>
                            <div class="innlink save-click event-image" data-id=10293282
                                data-link=/ekb/forum-molodiozhi-utro-event10293282>
                                <picture>
                                    <source media="(max-width: 600px)"
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo200-10293282.webp?v=032024&m=020524191459
                                        type=image/webp>
                                    <source media="(max-width: 3000px)"
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo400-10293282.webp?v=032024&m=020524191459
                                        type=image/webp>
                                    <source
                                        srcset=https://static.gorodzovet.ru/uploads/2024/6/22/photo600-10293282.webp?v=032024&m=020524191459
                                        type=image/webp><img alt="Форум молодёжи «УТРО»" loading=lazy
                                        src=https://static.gorodzovet.ru/uploads/2024/6/22/photo600-10293282.jpg?v=032024&m=020524191459>
                                </picture>
                            </div>
                            <div class=event-date>
                                <div class=event-month>Июн</div> 22-28
                            </div>
                            <div class="innlink event-link save-click" data-id=10293282
                                data-link=/ekb/forum-molodiozhi-utro-event10293282><a
                                    href=/ekb/forum-molodiozhi-utro-event10293282>
                                    <h3 class="lines lines2"><span> Форум молодёжи "УТРО" </span></h3>
                                </a>
                                <div class="lines lines4 mb-2">Форум молодёжи УТРО - главное мероприятие лета для
                                    молодых людей до 35 лет. Пройдёт в Екатеринбурге с 22 по 28 …</div>
                            </div>
                            <div class=event-meta>
                                <div class=event-tags><a title="Форум События в Екатеринбурге" class=tag
                                        href=/ekb/forum /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#comments></use>
                                    </svg> Форум </a><a title="Бизнес События в Екатеринбурге" class=tag
                                        href=/ekb/business /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#briefcase></use>
                                    </svg> Бизнес </a><a title="Образование События в Екатеринбурге" class=tag
                                        href=/ekb/education /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#graduation-cap></use>
                                    </svg> Образование </a><a title="Образование События в Екатеринбурге" class=tag
                                        href=/ekb/study /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                                    </svg> Образование </a><a title="Общество События в Екатеринбурге" class=tag
                                        href=/ekb/obshestvo /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#users></use>
                                    </svg> Общество </a><a title="Мастер-класс События в Екатеринбурге" class=tag
                                        href=/ekb/workshop /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#chalkboard-teacher></use>
                                    </svg> Мастер-класс </a><a title="Лекции События в Екатеринбурге" class=tag
                                        href=/ekb/lecture /><svg>
                                        <use xlink:href=/static/fa/icons.svg?v=9m#book-open></use>
                                    </svg> Лекции </a></div>
                            </div>
                        </div>
                    </div>


<!--             =====================================================================================                     -->
<div class="container content containerNopad content--padTop">
    <div class=container-empty>
            <div class="container cart" id=noevents style=display:none></div>
            <div id=yandex_rtb_R-A-141775-27></div>
            <script>window.yaContextCb.push(() => { Ya.Context.AdvManager.renderFeed({ "blockId": "R-A-141775-27", "renderTo": "yandex_rtb_R-A-141775-27" }) })</script>
            <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                    href=/ekb/outdoor /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                    href=/ekb/free /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=biz
                    href=/ekb/biz /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#building></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=business
                    href=/ekb/business /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#briefcase></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                    href=/ekb/kids /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                    href=/ekb/wellness /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                    href=/ekb/concert /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                    href=/ekb/music /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                    href=/ekb/lifestyle /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                    href=/ekb/study /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=psycho
                    href=/ekb/psycho /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#sun></use>
                </svg> Психология </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=razvl
                    href=/ekb/razvl /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#icons></use>
                </svg> Развлечения </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=sport
                    href=/ekb/sport /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#dumbbell></use>
                </svg> Спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                    href=/ekb/theater /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=fest
                    href=/ekb/fest /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#flag></use>
                </svg> Фестиваль </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                    href=/ekb/shows /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Шоу и концерты </a></div>
            </div>
        </div>
    </div>

{% endblock %}