{% extends 'base.html' %}

{% block plan %}

<br><br>


<div class="container containerNopad content--padTop">
            <style>
                h1 {
                    font-size: 1.5rem
                }

                .plan-day {
                    margin-top: 20px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                    border-left: 4px solid #ddd;
                    background: #fff;
                    min-height: 100px;
                    position: relative
                }

                .col-4 {
                    width: 25%
                }

                .plan-day-active {
                    border-left: 4px solid #f9e10a
                }

                .plan-day .left-col {
                    padding-left: 10px
                }

                .add-plan {
                    display: inline-block;
                    width: auto;
                    font-size: 80%;
                    position: absolute;
                    bottom: 0;
                    left: 12px;
                    color: #1f68b4;
                    line-height: 1rem;
                    text-decoration: none
                }

                .add-plan i {
                    display: inline-block;
                    font-size: 1.5rem;
                    float: left;
                    margin-right: .5rem;
                    margin-top: .3rem
                }

                .find-events {
                    font-size: 80%;
                    padding: .2rem .3rem;
                    position: absolute;
                    bottom: 3px;
                    margin-bottom: 0
                }

                .plan-activity,
                .ue {
                    display: flex;
                    clear: both;
                    font-size: 90%;
                    margin-bottom: 7px
                }

                .plan-activity img,
                .ue img {
                    width: 45px;
                    max-height: 45px;
                    margin-right: 5px;
                    float: left
                }

                .plan-activity .name,
                .ue .name {
                    max-height: 46px;
                    line-height: 26px;
                    overflow: hidden;
                    display: block
                }

                .day-name {
                    font-size: .9rem;
                    line-height: 1.2rem;
                    font-weight: 700
                }

                .day-name span {
                    font-weight: 400;
                    font-size: .9rem;
                    line-height: 1px
                }

                .events-wrapper {
                    margin-bottom: 50px
                }
            </style>
            <div class="container container-my cart">
                <h1>Мои мероприятия</h1>
                <div style="margin:30px 0;background:#fff;padding:10px" class=hint><i
                        class="fa fa-calendar icon-calendar" style=float:left;margin-right:1rem;font-size:45px></i> Это
                    ваш личный календарь мероприятий. <br> Чтобы добавить сюда мероприятие, нажмите кнопку "Хочу пойти"
                    на странице этого мероприятия. И оно появится здесь :)</div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>Сегодня <span>понедельник</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-17 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 17.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>Завтра <span>вторник</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-18 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 18.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>19 июня <br><span>среда</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-19 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 19.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>20 июня <br><span>четверг</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-20 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 20.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>21 июня <br><span>пятница</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-21 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 21.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>22 июня <br><span>суббота</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-22 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 22.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>23 июня <br><span>воскресенье</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-23 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 23.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>24 июня <br><span>понедельник</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-24 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 24.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>25 июня <br><span>вторник</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-25 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 25.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>26 июня <br><span>среда</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-26 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 26.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>27 июня <br><span>четверг</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-27 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 27.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>28 июня <br><span>пятница</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-28 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 28.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>29 июня <br><span>суббота</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-29 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 29.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>30 июня <br><span>воскресенье</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-06-30 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 30.06 Events </a>
                    </div>
                </div>
                <div class="row plan-day">
                    <div class="col-4 left-col">
                        <div class=day-name>01 июля <br><span>понедельник</span></div>
                    </div>
                    <div class=col-8 style=padding-right:5px;padding-left:5px>
                        <div class=events-wrapper>Пока тут пусто</div><a class="btn btn-light find-events"
                            href=/ekb/day2024-07-01 /> <svg>
                            <use xlink:href=/static/fa/icons.svg?v=9m#search></use>
                        </svg> Discover 01.07 Events </a>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
