{% extends 'base.html' %}


{% block rec %}
<br>
<div class="container content containerNopad content--padTop">
    <div class=container-empty></div>
        <!-- <div class=row>
            <div>
                <h1 style="padding:0;margin:2rem 0" class=h1>Екатеринбург Обучение и образование <small>Афиша
                        мероприятий на Июнь 2024</small></h1>
                <div style="max-width:600px;margin:0 0 2rem" class=subtitle>Посетите лучшие воркшопы, курсы,
                    семинары и тренинги и обучитесь новым навыкам или улучшите старые! Раскройте свой полный
                    потенциал с лучшими образовательными мероприятиями города.</div>
            </div>
        </div> -->



            <div class=container-empty>
                <h1 style=margin-bottom:1rem>Вам может понравиться</h1>Мы подобрали для вас другие мероприятия, на основе того, что вам интересно<br>
                
                <div class="i1 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10344246
                            data-link=/ekb/lektsiia-nikolai-nosov-ne-tolko-dlia-event10344246>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/18/photo200-10344246.webp?v=032024
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/18/photo400-10344246.webp?v=032024
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/18/photo600-10344246.webp?v=032024
                                    type=image/webp><img alt="Лекция «Николай Носов. Не только для детей»"
                                    fetchpriority=high importance=high
                                    src=https://static.gorodzovet.ru/uploads/2024/6/18/photo600-10344246.jpg?v=032024>
                            </picture>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-18 /> 18 </span></div>
                        <div class="innlink event-link save-click" data-id=10344246
                            data-link=/ekb/lektsiia-nikolai-nosov-ne-tolko-dlia-event10344246><a
                                href=/ekb/lektsiia-nikolai-nosov-ne-tolko-dlia-event10344246>
                                <h3 class="lines lines2"><span> Лекция "Николай Носов. Не только для детей" </span>
                                </h3>
                            </a>
                            <div class="lines lines4 mb-2">Лекция филолога Валентины Живаевой. Автор бессмертной
                                трилогии о Незнайке и увлекательных книг о приключениях советской …</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Литература События в Екатеринбурге" class=tag
                                    href=/ekb/books /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#book-open></use>
                                </svg> Литература </a><a title="Культура События в Екатеринбурге" class=tag
                                    href=/ekb/culture /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                                </svg> Культура </a><a title="Для детей События в Екатеринбурге" class=tag
                                    href=/ekb/kids /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                                </svg> Для детей </a><a title="Бесплатно События в Екатеринбурге" class=tag
                                    href=/ekb/free /><svg>
                                    <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                                </svg> Бесплатно </a></div>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=it
                        href=/spb/it /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#laptop-code></use>
                    </svg> IT и технологии </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=auto-moto
                        href=/spb/auto-moto /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#car></use>
                    </svg> Авто-мото </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                        href=/spb/outdoor /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                    </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                        href=/spb/free /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                    </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=pobeda
                        href=/spb/pobeda /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#medal></use>
                    </svg> День Победы </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                        href=/spb/kids /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                    </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=animals
                        href=/spb/animals /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#paw></use>
                    </svg> Животные </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                        href=/spb/wellness /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                    </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=classic
                        href=/spb/classic /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Классика </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                        href=/spb/concert /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                        href=/spb/culture /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                    </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                        href=/spb/music /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                        href=/spb/lifestyle /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                    </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                        href=/spb/study /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                    </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                        href=/spb/theater /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                    </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                        href=/spb/shows /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Шоу и концерты </a><a class="btn btn-default btn-lg tag-figures btn-success"
                        data-id=excursion href=/spb/excursion /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#eye></use>
                    </svg> Экскурсии </a></div>
                
                    </div>
                </div>
            </div>
        </div>

        <!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = '85cwRRtTqeHof9uhS';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->

{% endblock %}