{% extends 'base.html' %}



{% block rec %}
<h1>{{ title }}</h1>
<br><br><br>

        

        <div class="container content containerNopad content--padTop">
            <div class=container-empty>
                <h1 style=margin-bottom:1rem>Вам может понравиться</h1> Пока не можем найти рекомендованные для вас
                мероприятия <br>
                <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=it
                        href=/spb/it /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#laptop-code></use>
                    </svg> IT и технологии </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=auto-moto
                        href=/spb/auto-moto /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#car></use>
                    </svg> Авто-мото </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                        href=/spb/outdoor /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                    </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                        href=/spb/free /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                    </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=pobeda
                        href=/spb/pobeda /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#medal></use>
                    </svg> День Победы </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                        href=/spb/kids /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                    </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=animals
                        href=/spb/animals /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#paw></use>
                    </svg> Животные </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                        href=/spb/wellness /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                    </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=classic
                        href=/spb/classic /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Классика </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                        href=/spb/concert /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                        href=/spb/culture /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                    </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                        href=/spb/music /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                    </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                        href=/spb/lifestyle /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                    </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                        href=/spb/study /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                    </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                        href=/spb/theater /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                    </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                        href=/spb/shows /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                    </svg> Шоу и концерты </a><a class="btn btn-default btn-lg tag-figures btn-success"
                        data-id=excursion href=/spb/excursion /> <svg>
                        <use xlink:href=/static/fa/icons.svg?v=9m#eye></use>
                    </svg> Экскурсии </a></div>
                
                    </div>
                </div>
            </div>
        </div>

{% endblock %}