{% extends 'base.html' %}

{% block sea %}

<br>

        
<div class="container content containerNopad content--padTop">
    <div class="container containerNopad">
        <h1 class=h1><small style=margin-left:0;display:inline;margin-right:.5rem>ПОИСК:</small> <b>ITIS</b>
        </h1>
    </div>
    <div class="container container-afisha22"></div>
    <div class="container containerNopad">
        <div style="margin:15px 0">
            <h2>События:</h2>
            <div class=row>
                <div class="i1 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class=event-block>
                        <div class="innlink save-click event-image" data-id=10348429
                            data-link=/ekb/itisconf-event10348429>
                            <picture>
                                <source media="(max-width: 600px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo200-10348429.webp?v=032024&m=170624181911
                                    type=image/webp>
                                <source media="(max-width: 3000px)"
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo400-10348429.webp?v=032024&m=170624181911
                                    type=image/webp>
                                <source
                                    srcset=https://static.gorodzovet.ru/uploads/2024/6/27/photo600-10348429.webp?v=032024&m=170624181911
                                    type=image/webp><img alt="ITISconf– 2024" fetchpriority=high importance=high
                                    src=https://static.gorodzovet.ru/uploads/2024/6/27/photo600-10348429.jpg?v=032024&m=170624181911>
                            </picture>
                        </div>
                        <div class=event-date><a title="мероприятия в Екатеринбурге июня 2024" class=event-month
                                href=/ekb/2024/june /> Июн </a><span class="event-day innlink"
                                data-link=/ekb/day2024-06-20 /> 20 </span></div>
                        <div class="innlink event-link save-click" data-id=10348429
                            data-link=/ekb/itisconf-event10348429><a href="{% url 'opisaniya' %}">
                                <h3 class="lines lines2"><span> ITISconf– 2024 </span></h3>
                            </a>
                            <div class="lines lines4 mb-2">Пятая ежегодная конференция о трендах в ИТ и ИБ
                                соберет экспертов в сфере информационных технологий.</div>
                        </div>
                        <div class=event-meta>
                            <div class=event-tags><a title="Форум События в Екатеринбурге" class=tag
                                    href="#"><svg>
                                    <use xlink:href="{% url 'opisaniya' %}"></use>
                                </svg> Форум </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- bokovaya rekomindasiya======================================================================== -->




<!--             =====================================================================================                     -->
<div class="container content containerNopad content--padTop">
    <div class=container-empty>
            <div class="container cart" id=noevents style=display:none></div>
            <div id=yandex_rtb_R-A-141775-27></div>
            <script>window.yaContextCb.push(() => { Ya.Context.AdvManager.renderFeed({ "blockId": "R-A-141775-27", "renderTo": "yandex_rtb_R-A-141775-27" }) })</script>
            <div class=popular-ets><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=outdoor
                    href=/ekb/outdoor /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#hiking></use>
                </svg> Активный отдых </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=free
                    href=/ekb/free /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#piggy-bank></use>
                </svg> Бесплатно </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=biz
                    href=/ekb/biz /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#building></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=business
                    href=/ekb/business /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#briefcase></use>
                </svg> Бизнес </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=kids
                    href=/ekb/kids /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#child></use>
                </svg> Для детей </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=wellness
                    href=/ekb/wellness /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#futbol></use>
                </svg> Здоровье и спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=concert
                    href=/ekb/concert /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Концерты </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=culture
                    href=/ekb/culture /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#image></use>
                </svg> Культура </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=music
                    href=/ekb/music /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#music></use>
                </svg> Музыка </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=lifestyle
                    href=/ekb/lifestyle /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#mug-hot></use>
                </svg> Образ жизни </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=study
                    href=/ekb/study /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#book></use>
                </svg> Образование </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=psycho
                    href=/ekb/psycho /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#sun></use>
                </svg> Психология </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=razvl
                    href=/ekb/razvl /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#icons></use>
                </svg> Развлечения </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=sport
                    href=/ekb/sport /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#dumbbell></use>
                </svg> Спорт </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=theater
                    href=/ekb/theater /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#theater-masks></use>
                </svg> Театр </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=fest
                    href=/ekb/fest /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#flag></use>
                </svg> Фестиваль </a><a class="btn btn-default btn-lg tag-figures btn-light" data-id=shows
                    href=/ekb/shows /> <svg>
                    <use xlink:href=/static/fa/icons.svg?v=9m#microphone></use>
                </svg> Шоу и концерты </a></div>
            </div>
        </div>
    </div>


{% endblock %}