{% extends 'base.html' %}

{% block sub %}

<br><br><br>

<div class="container content containerNopad content--padTop">
    <div class=content>
        <h1>Войти</h1>
        <div class=row>
            <div class="col-xs-12 col-sm-8">Мы подстраиваемся под вас. Вы можете настроить список мероприятий
                для себя. <br><br>
                <h3>Что дает регистрация на сайте?</h3>
                <ul class=loginFeatures>
                    <li>афиша мероприятий формируется специально персонально под вас
                    <li>вы сможете добавлять мероприятия в избранное и получать напоминания
                    <li>вы сможете оценивать мероприятия и места и оставлять комментарии
                </ul><br>
                <div style=text-align:left></div><br><br>
            </div>
            <div class="col-xs-12 col-sm-4"></div>
        </div>
    </div>
</div>

{% endblock %}